langchain
langchain_community
langchain-openai
langchain-groq
python-dotenv
langchain-google-genai
langgraph
langsmith
langchain_tavily
langchain-core
pymupdf
pypdf
ipykernel
langchain-huggingface
sentence-transformers
torch
faiss-cpu
pandas
nltk
rouge-score
fastapi
uvicorn
slowapi
mcp